.container {
  width: 100vw; height: 18vh; padding: 17px 0px; display: flex; flex-direction: column;
  justify-content: center; background-color: #ff3600;

  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Monospace, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 7px;
  }
}
